<h1>Rent Boat</h1>
<hr />

<form [formGroup]="boatRentForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class=" control-label col-md-12">Customer Name</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="custname">
    </div>
    <span class="text-danger" *ngIf="custname?.invalid && formDir.submitted">
      Customer Name is required.
    </span>
  </div>

  <div class="form-group row">
    <label class="control-label col-md-12" for="BoatNumber">Boat Number</label>
    <div class="col-md-4">
      <select class="form-control" data-val="true" formControlName="boatnumber">
        <option value="">--Select Boat Number--</option>
        <option *ngFor="let boatno of boatList" value={{boatno}}>
          {{boatno}}
        </option>
      </select>
    </div>
    <span class="text-danger" *ngIf="boatnumber?.invalid && formDir.submitted">
      Boat Number is required.
    </span>
  </div>

  <hr />
  <div class="form-group">
    <button type="submit" class=" btn btn-primary">Save</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>
